<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>NOB_Project</display-name>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
    <welcome-file>login.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>login.html</welcome-file>
    <welcome-file>login.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>preTrabajo1</display-name>
    <servlet-name>preTrabajo1</servlet-name>
    <servlet-class>servlets.preTrabajo1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>preTrabajo1</servlet-name>
    <url-pattern>/preTrabajo1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loginServlet</display-name>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>servlets.loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AsignaturaServlet</display-name>
    <servlet-name>AsignaturaServlet</servlet-name>
    <servlet-class>servlets.AsignaturaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AsignaturaServlet</servlet-name>
    <url-pattern>/AsignaturaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>listaAsignaturasServlet</display-name>
    <servlet-name>listaAsignaturasServlet</servlet-name>
    <servlet-class>servlets.listaAsignaturasServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listaAsignaturasServlet</servlet-name>
    <url-pattern>/listaAsignaturasServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>listaAsigServlet</display-name>
    <servlet-name>listaAsigServlet</servlet-name>
    <servlet-class>servlets.listaAsigServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listaAsigServlet</servlet-name>
    <url-pattern>/listaAsigServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AlumnoServlet</display-name>
    <servlet-name>AlumnoServlet</servlet-name>
    <servlet-class>servlets.AlumnoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlumnoServlet</servlet-name>
    <url-pattern>/AlumnoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>listaAlumServlet</display-name>
    <servlet-name>listaAlumServlet</servlet-name>
    <servlet-class>servlets.listaAlumServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listaAlumServlet</servlet-name>
    <url-pattern>/listaAlumServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DatoAlumnoServlet</display-name>
    <servlet-name>DatoAlumnoServlet</servlet-name>
    <servlet-class>servlets.DatoAlumnoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DatoAlumnoServlet</servlet-name>
    <url-pattern>/DatoAlumnoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>listaAsigAlumno</display-name>
    <servlet-name>listaAsigAlumno</servlet-name>
    <servlet-class>servlets.listaAsigAlumno</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listaAsigAlumno</servlet-name>
    <url-pattern>/listaAsigAlumno</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loginAlServlet</display-name>
    <servlet-name>loginAlServlet</servlet-name>
    <servlet-class>servlets.loginAlServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginAlServlet</servlet-name>
    <url-pattern>/loginAlServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CambiaNotaServlet</display-name>
    <servlet-name>CambiaNotaServlet</servlet-name>
    <servlet-class>servlets.CambiaNotaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CambiaNotaServlet</servlet-name>
    <url-pattern>/CambiaNotaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ObtenerAcrProfesor</display-name>
    <servlet-name>ObtenerAcrProfesor</servlet-name>
    <servlet-class>servlets.ObtenerAcrProfesor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ObtenerAcrProfesor</servlet-name>
    <url-pattern>/ObtenerAcrProfesor</url-pattern>
  </servlet-mapping>
</web-app>